.imagens{
  height: 180px;
  width:318px ;
  float: left;
  margin:0px 10px 5px 50;
  margin-left: 135px;
  align-items: center;
  
}

li {
  list-style-type: none;
}
.postagem{
  background: #fff;
	padding: 10px;
  margin-bottom: 10px;
}

#text-mgs{
  text-align: center;
}

.area-principal{
  width: 720px;
	margin: 55px auto 10px auto;
}